
* {
    box-sizing: border-box;
}

/* Header/Blog Title */
.header {
    padding: 0px;
    text-align: center;
    background: #49C2B8;
    color:white;
}

/* Increase the font size of the heading */
.header h1 {
    font-size: 40px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

 /* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered logo */
.centered {
    position: absolute;
    top: 20%;
    left: 46%;
    transform: scale(1.5, 1.5);
    color: #0171BB;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 20px;

}
/*  social icons */
.social {
    padding: 10px;
    cursor: pointer;
}

.social:hover {
    opacity:0.5;
}
.und:hover{
color: gray;
cursor: pointer;
}

.active {
    background-color: #0171bb;
}
