
* {
    box-sizing: border-box;
}

.header {
    padding: 0px;
    text-align: center;
    background: #49C2B8;
    color:white;
}

.header h1 {
    font-size: 40px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 20%;
    left: 46%;
    color: #0171BB;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 20px;

}

.social {
    padding: 10px;
    cursor: pointer;
}

.social:hover {
    opacity:0.5;
}

.und:hover {
    color: gray;
    cursor: pointer;
}

.active {
    background-color: #0171bb;
}
