
* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
    background: #f1f1f1;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.main {   
     -ms-flex: 75%; /* IE10 */
   flex:75%;
background-color: white;
    padding: 20px;
}

/* Right column */
.side {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;   
     background-color: #f1f1f1;
    padding: 20px;
    padding-left: 20px;
    cursor: pointer;
    overflow: scroll;
}


.row {  
display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  }

.image {
    float: left;
    margin-right: 20px;
}

.active, .dot:hover {
  background-color: #0171BB;
}

 .logo:hover {
  opacity: 0.3;
  cursor:pointer;
}
